name: Dev-Build

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: "src"

      - name: Checkout dev-builds
        uses: actions/checkout@v4
        with:
          ref: "dev-builds"
          path: "dev-builds"

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make generateUpdaterJson
          cp **/build/outputs/*.zip $GITHUB_WORKSPACE/dev-builds
          cp build/outputs/updater.json $GITHUB_WORKSPACE/dev-builds
      - name: Push builds
        run: |
          cd $GITHUB_WORKSPACE/dev-builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Build $GITHUB_SHA" || exit 0   # do not error if nothing to commit
          git push
